
/* index.css */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.containerMain {
    background-size: cover;
    height: 100%;
}

.containerNav{
    display: flex;
    justify-content: space-between;
}

.containerNavInfo{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.containerNavInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 100px;
    height: 100px;
}

.icons a{
    color: white;
    margin: 2px;
}

.login{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
}

.login img{
    width: 40px;
    height: 40px;
    margin: 10px;
}

.navOptions{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    
}
.navOptions ul{
    display: flex;
    flex-direction: row;
}
.navOptions ul li{
    margin-top: 15px;
    margin-right: 10px;
    list-style: none;
    text-decoration: none;
}
.navOptions ul li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
}

.search input {
    border:none ;
    height: 28px;
    width: 200px;
    border-radius: 6px;
}


/* QUIENES SOMOS */

.AboutUs {
    border-radius: 10px;
    height: 480px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text p{
    margin-left: 100px;

    text-align: center;

}

.AboutUs h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.AboutUs .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AboutUs .text {
    flex: 1;
    margin-right: 20px;
}

.AboutUs .text p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
}

.AboutUs .social-icon {
    text-align: center;
    margin-top: 10px;
}

.AboutUs .social-icon img {
    height: 30px;
    width: 30px;
}

.AboutUs .image {
    flex: 1;
    text-align: center;
}

.AboutUs .image img {
    max-width: 70%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.AboutUs .image img:hover {
    transform: scale(1.1);
    transition: ease 0.1s;

}

.hero{

    /* background-image: url('/IMG/hero.jpg'); */
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    

}

.hero h1{
    
    margin-bottom: 200px;
}
